# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
venv/
env/

# Environment variables / secrets
.env

# Jupyter
.ipynb_checkpoints/

# Data files
data/raw/*
data/processed/*

# ML models
models/*

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db